<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
  // Change base URL if we're on GitHub pages.
  if (window.location.host.includes('spencels.github.io')) {
    var url = location.protocol + '//' + location.host + '/bcc-site';
    document.write('<base href="' + url + '">');
  }
</script>

<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">

<header>
  <div class="header-image" aria-label="Image of the flatirons"></div>
  <img class="logo"
       src="/assets/bcc-logo-light-grey.svg"
       aria-label="Boulder Couch Crash Logo">
</header>

<main class="content">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.subtitle }}</h2>
  <hr aria-hidden />
  {{ content }}
</main>

<footer>
  <hr aria-hidden />
  <img src="/assets/bcc-logo-dark-grey.svg"
       class="footer-logo"
       aria-label="Boulder couch crash logo">
</footer>
<div class="footer-alpines" aria-label="Image of Alpine trees"></div>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    if (['0.0.0.0', '127.0.0.1', 'localhost'].includes(window.location.hostname)) {
      return;
    }
    var u="https://aly.bouldercouchcrash.com/";
    _paq.push(['setTrackerUrl', u+'js/']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
  })();
</script>